@import "./components/root";
@import "./components/base";
@import "./components/button";
@import "./components/typography";
@import "./components/headline-group";
@import "./components/header";
@import "./components/hero";
@import "./components/card";
@import "./components/about";
@import "./components/map";
@import "./components/footer";
@import "./components/menu";
@import "./components/action";

.mobile-only {
    @include screen('desktop') {
        display: none;
    }
}

.desktop-only {

    display: none;

    @include screen('desktop') {
        display: block;
    }
}