* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f5fb;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__content {
  width: 100%;
  max-width: 1440px;
  display: grid;
  padding: 32px 20px;
  gap: 20px;
}
.container__content--flat {
  padding-block: 0;
}
@media (min-width: 1200px) {
  .container__content {
    padding: 112px 40px;
  }
}
.container--bg-blue {
  background-color: #0050a5;
}
.container--bg-blue * {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.container--bg-bright {
  background: #e8f0f8;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  display: flex;
  gap: 8px;
  padding: 11px 17px;
  border: 1px solid #f2e4dc;
  background: #ffffff;
  border-radius: 16px;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
@media (min-width: 1200px) {
  .label {
    border-width: 2px;
    padding: 16px;
  }
}
.label--bg-bright {
  background: #e4edf6;
}
.label--image-bg {
  background: var(--bg-image) no-repeat center/cover;
  width: 168px;
  height: 210px;
  border: none;
}
.label--without-bg {
  background: none;
}
.label--border-grey {
  border-color: #7da6d2;
}
.label--border-bright {
  border-color: #e4edf6;
}
.label--color-blue * {
  color: #0050a5 !important;
}
.label__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.label__text {
  font-size: 0.625rem;
  color: #7da6d2;
  line-height: 1;
}
.label__text--main {
  font-size: 0.75rem;
  color: #0050a5;
  font-weight: 700;
}
.label__text--main-big {
  font-size: 1rem;
}
.label__text--big {
  font-size: 0.75rem;
}
.label__text--orange {
  color: #ff6b00;
}
.label__text--bright {
  color: #ffffff;
}
.label--big {
  padding: 16px 16px;
  width: 100%;
}
.label--big .label__text {
  font-size: 0.75rem;
}
.label--big .label__text--main {
  font-size: 0.875rem;
}

.grid {
  display: grid;
  gap: 12px;
}
.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 1200px) {
  .grid--2-desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 1200px) {
  .grid--3-desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}
@media (min-width: 1200px) {
  .grid--4-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid--12 {
  grid-template-columns: repeat(12, 1fr);
}
@media (min-width: 1200px) {
  .grid--12-desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}
.grid--gap-big {
  gap: 20px;
}
@media (min-width: 1200px) {
  .grid--gap-big {
    gap: 40px;
  }
}
@media (min-width: 1200px) {
  .grid {
    gap: 20px;
  }
}

.flex {
  display: flex;
}
.flex--column {
  flex-direction: column;
}
.flex {
  gap: 20px;
}

.icon-block {
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  background: #7da6d2;
}
.icon-block--small {
  width: 28px;
  height: 28px;
  border-radius: 8px;
}
@media (min-width: 1200px) {
  .icon-block--small {
    width: 46px;
    height: 46px;
    border-radius: 16px;
  }
}
.icon-block__circle {
  width: 10px;
  height: 10px;
  background: #0050a5;
  border-radius: 10pc;
}
.icon-block--orange {
  background: #f2e4dc;
  border: 1px solid #ff6b00;
}
.icon-block--orange .icon-block__circle {
  background: #ff6b00;
}
.icon-block--bright {
  background: #ffffff;
  color: #0050a5;
}
.icon-block--bright-2 {
  background: #D1E0F0;
}
.icon-block--grey {
  background: #e4edf6;
  color: #0050a5;
}
.icon-block--blue {
  background: #0050a5;
  color: #ffffff;
}
.icon-block--opacity {
  background: rgba(255, 255, 255, 0.1);
}

.big-number {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 900;
  font-size: 120px;
  line-height: 100px;
  color: #ffffff;
  text-shadow: 0px 3px 4px rgba(75, 36, 7, 0.15);
  transform: translateX(40%);
}

.divider {
  width: 100%;
  border-bottom: 2px solid #7da6d2;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 48px;
  background: #ff6b00;
  border-radius: 32px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s;
}
.button:hover {
  box-shadow: 0px 8px 12px rgba(255, 107, 0, 0.35);
}
.button--max-content {
  padding-inline: 24px;
  max-width: -moz-max-content;
  max-width: max-content;
}
.button--outline {
  background: none;
  color: #0050a5;
  border: 2px solid #0050a5;
}
.button--outline-bright {
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.button--outline-bright:hover {
  box-shadow: 0px 3px 4px rgba(75, 36, 7, 0.15);
}
.button--outline:hover {
  box-shadow: 0px 2px 8.3px rgba(9, 42, 76, 0.35);
}
.button--blue {
  background: #0050a5;
}
.button--blue:hover {
  box-shadow: 0px 2px 8.3px rgba(9, 42, 76, 0.35);
}
@media (min-width: 1200px) {
  .button {
    padding-inline: 24px;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1200px) {
  .buttons {
    flex-direction: row;
  }
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Regular.woff2") format("woff2"), url("./../fonts/Inter-Regular.woff") format("woff"), url("./../fonts/Inter-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Medium.woff2") format("woff2"), url("./../fonts/Inter-Medium.woff") format("woff"), url("./../fonts/Inter-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-SemiBold.woff2") format("woff2"), url("./../fonts/Inter-SemiBold.woff") format("woff"), url("./../fonts/Inter-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Bold.woff2") format("woff2"), url("./../fonts/Inter-Bold.woff") format("woff"), url("./../fonts/Inter-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-ExtraBold.woff2") format("woff2"), url("./../fonts/Inter-ExtraBold.woff") format("woff"), url("./../fonts/Inter-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Black.woff2") format("woff2"), url("./../fonts/Inter-Black.woff") format("woff"), url("./../fonts/Inter-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Inter";
  color: #0050a5;
}

.headline-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.headline-group__title {
  font-weight: 700;
  font-size: 2.25rem;
  color: #0050a5;
}
.headline-group__subtitle {
  border-bottom: 2px solid #7da6d2;
  padding-block: 4px;
  font-weight: 500;
  font-size: 0.75rem;
  color: #7da6d2;
  max-width: -moz-max-content;
  max-width: max-content;
  padding-left: 0.75rem;
  position: relative;
  line-height: 15px;
}
.headline-group__subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 10pc;
  background: #7da6d2;
}
.headline-group__subtitle--bright::after {
  background: #ffffff;
}
.headline-group__text {
  font-weight: 400;
  font-size: 0.75rem;
  color: #0050a5;
}
@media (min-width: 1200px) {
  .headline-group .headline-group__title {
    font-size: 2.5rem;
  }
  .headline-group .headline-group__subtitle {
    font-size: 0.875rem;
  }
  .headline-group .headline-group__text {
    font-size: 1rem;
  }
}

.header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__button-group {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}
.header__button {
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #0050a5;
  border-radius: 35px;
  width: -moz-max-content;
  width: max-content;
  aspect-ratio: 1;
  transition: all 0.3s;
}
.header__button:hover {
  box-shadow: 0px 2px 8.3px rgba(9, 42, 76, 0.35);
}
.header__button--outline {
  background: #f2e4dc;
  border: 1px solid #0050a5;
}

.hero {
  background: url("./../images/bg-cell.png"), linear-gradient(155.23deg, #bfe1ff 8.5%, #bfe0ff 41.7%, #add9ff 91.5%);
  background-position: center, 0 0;
  background-repeat: repeat, repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 60vh;
}
.hero__image-content {
  line-height: 0;
  transform: translateY(10%);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero__image {
  position: relative;
  width: 100%;
}
.hero__image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(173, 217, 255, 0.6) 0%, rgba(0, 80, 165, 0) 50%);
  bottom: -10px;
}
@media (min-width: 1200px) {
  .hero__image::after {
    background: linear-gradient(0deg, rgba(148, 197, 242, 0.3) 13.39%, rgba(148, 197, 242, 0.05) 66.96%);
    bottom: 0;
  }
  .hero__image .hero__image-content {
    width: 100%;
    box-shadow: 0px 12px 12px rgba(0, 50, 120, 0.14);
    border-radius: 20px;
    line-height: 0;
    display: block;
    transform: none;
  }
}

.card {
  border-radius: 16px;
  border: 2px solid #7da6d2;
  width: 100%;
  overflow: hidden;
  background: #e4edf6;
  position: relative;
}
.card--row {
  display: flex;
}
@media (min-width: 1200px) {
  .card--row-desktop {
    display: flex;
  }
}
.card--radius-big {
  border-radius: 32px;
}
.card--bg-bright {
  background: rgba(255, 255, 255, 0.1);
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 21px;
  width: 100%;
  position: relative;
}
.card__content--padding-small {
  padding: 6px 12px;
}
.card__content--padding-md {
  padding: 12px 12px;
}
.card__content--gap-big {
  gap: 12px;
}
.card__content--gap-extra {
  gap: 16px;
}
.card__content--after::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  background: #e4edf6;
  border-radius: 0 16px 16px 0;
  width: 10px;
  z-index: 2;
}
.card__image {
  width: 100%;
  max-height: 200px;
  border-radius: 0 0 16px 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1200px) {
  .card__image {
    order: 1;
    width: 20vw;
    min-width: 100px;
    margin-left: auto;
    border-radius: 0;
    height: 100%;
  }
}
.card--orange-border {
  border-color: #ff6b00;
}
.card--bright-border {
  border-color: #e4edf6;
}
.card--without-border {
  border: none;
}
.card__label {
  background: #f2e4dc;
  color: #ff6b00;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  height: 20px;
}
.card__label--bg-bright {
  background: #ffffff;
  color: #0050a5;
}
.card__label--bold {
  font-weight: 700;
}
.card__label--big {
  height: 24px;
}
.card__text {
  font-size: 0.875rem;
}
.card__text--main {
  font-size: 1.25rem;
  font-weight: 700;
}
.card__text--orange {
  color: #ff6b00;
}
.card__text--extra {
  font-weight: 800;
}
.card__text-group {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
}
.card__text-group--space-between {
  justify-content: space-between;
}
.card__text-group--column {
  flex-direction: column;
  align-items: flex-start;
  justify-self: start;
  gap: 6px;
}
.card--big .card__text {
  font-size: 0.875rem;
}
.card--big .card__text--main {
  font-size: 2.25rem;
  font-weight: 800;
}

.about__cards {
  display: flex;
  flex-direction: column;
}
.about__card-group {
  margin-left: 11px;
  display: flex;
  gap: 28px;
}
.about__card-group:not(:nth-last-child(1)) {
  border-left: 2px solid #ff6b00;
  padding-bottom: 24px;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1200px) {
  .about__text {
    grid-column: span 2;
  }
}
.about__image {
  position: relative;
  width: 100%;
}
.about__image img {
  width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
  border-radius: 16px;
}
@media (min-width: 1200px) {
  .about__image img {
    height: 100%;
    max-height: none;
    aspect-ratio: auto;
  }
}

.map__image img {
  width: 100%;
}
@media (min-width: 1200px) {
  .map__image {
    grid-column: span 2;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #7da6d2;
  box-shadow: inset 0px 1px 3.5px #f0f5fb;
}
.footer__content {
  padding-block: 20px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 1200px) {
  .footer__item {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  .footer__item--main {
    grid-column: span 6;
  }
}
.footer__link-block {
  display: flex;
  gap: 12px;
}
.footer__title {
  font-weight: 600;
}

.menu {
  position: fixed;
  background: #ffffff;
  z-index: 1;
  inset: 0;
  top: auto;
  border-top: 2px solid #7da6d2;
}
.menu__content {
  display: flex;
  padding-block: 10px;
  justify-content: space-between;
}
.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 0.625rem;
}
.menu__item * {
  color: #222222 !important;
}
.menu__item--active * {
  color: #0050a5 !important;
}

.action__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 32px;
  isolation: isolate;
  background: linear-gradient(161.67deg, #1A4A7A 8.32%, #2A7ACA 58.34%, #0069D8 91.68%);
  border-radius: 24px;
}
.action__footer * {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .mobile-only {
    display: none;
  }
}

.desktop-only {
  display: none;
}
@media (min-width: 1200px) {
  .desktop-only {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */