.card {
    border-radius: $radius-2;
    border: 2px solid $color-grey-1;
    width: 100%;
    overflow: hidden;
    background: $color-bright-3;
    position: relative;

    &--bg-bright {
        background: rgba(255, 255, 255, 0.1);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 21px;

        position: relative;

        &--padding-small {
            padding: 6px 12px;
        }

        &--gap-big {
            gap: 12px;
        }

        &--gap-extra {
            gap: 16px;
        }
    }

    &__image {
        width: 100%;
        max-height: 200px;
        border-radius: 0 0 $radius-2 $radius-2;
        object-fit: cover;
    }

    &--orange-border {
        border-color: $color-orange-1;
    }

    &--bright-border {
        border-color: $color-bright-3;
    }

    &--without-border {
        border: none;
    }

    &__label {
        background: $color-bright-4;
        color: $color-orange-1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 8px;
        border-radius: $radius-3;
        font-size: $size-sm;
        font-weight: 500;
        line-height: 1;
        height: 20px;

        &--bg-bright {
            background: $color-bright-1;
            color: $color-blue-1;
        }

        &--bold {
            font-weight: 700;
        }

        &--big {
            height: 24px;
        }
    }

    &__text {
        font-size: $size-md;

        &--main {
            font-size: $size-xl;
            font-weight: 700;
        }

        &--orange {
            color: $color-orange-1;
        }

        &--extra {
            font-weight: 800;
        }
    }

    &__text-group {
        width: 100%;
        display: flex;
        gap: 12px;
        align-items: center;
        position: relative;

        &--space-between {
            justify-content: space-between;
        }
    }

    &--big {
        .card__text {
            font-size: $size-md;
        }

        .card__text--main {
            font-size: $size-3xl;
            font-weight: 800;
        }
    }
}