.footer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid $color-grey-1;


    box-shadow: $shadow-footer;



    &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;



        @include screen('desktop') {
            grid-column: span 2;
        }

        &--main {
            @include screen('desktop') {
                grid-column: span 6;
            }
        }
    }

    &__link-block {
        display: flex;
        gap: 12px;
    }

    &__title {
        font-weight: 600;
    }
}