.footer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid $color-grey-1;


    box-shadow: $shadow-footer;



    &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__link-block {
        display: flex;
        gap: 12px;
    }

    &__title {
        font-weight: 600;
    }
}