.header {
    height: 64px;
    @include flex-center;

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__button-group {
        display: flex;
        justify-content: space-between;
        gap: $size-sm;
    }

    &__button {
        border-radius: $radius;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background: $color-blue-1;
        border-radius: 35px;
        width: max-content;
        aspect-ratio: 1;
        transition: all .3s;

        &:hover {
            box-shadow: $shadow-blue;
        }

        &--outline {
            background: $color-bright-4;
            border: 1px solid $color-blue-1;
        }
    }
}