.hero {
    background: $gradient-1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    img {
        line-height: 0;
        transform: translateY(2%);
    }
    &__content {
    }
    // &__image {
    //     position: absolute;
    //     inset: 0;
    //     top: auto;

    //     img {
    //         width: 100%;
    //         transform: scale(1.05);
    //     }
    // }
}
