$breakpoints: (
    'desktop': 1200px
);


@mixin screen($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "Размер `#{$breakpoint}` не найден в карте $breakpoints.";
    }
}


//цветаы
$color-blue-1: #0050a5;
$color-blue-2: #0c4392;
$color-blue-3: #003580;

$color-orange-1: #ff6b00;
$color-orange-2: #e66000;
$color-orange-3: #cc5500;

$color-bright-1: #ffffff;
$color-bright-2: #e8f0f8;
$color-bright-3: #e4edf6;
$color-bright-4: #f2e4dc;
$color-bright-5: #f0f5fb;
$color-bright-6: #D1E0F0;

$color-grey-1: #7da6d2;
$color-grey-2: #777777;
$color-grey-3: #222222;

$gradient-1: linear-gradient(155.23deg, #bfe1ff 8.5%, #bfe0ff 41.7%, #add9ff 91.5%);
$gradient-2: linear-gradient(0deg, rgba(173, 217, 255, 0.6) 0%, rgba(0, 80, 165, 0) 50%);
$gradient-3: linear-gradient(135deg, #0050A5 0%, #003880 100%);

$colors: (
    'blue-1': $color-blue-1,
    'blue-2': $color-blue-2,
    'blue-3': $color-blue-3,
    'orange-1': $color-orange-1,
    'orange-2': $color-orange-2,
    'orange-3': $color-orange-3,
    'bright-1': $color-bright-1,
    'bright-2': $color-bright-2,
    'bright-3': $color-bright-3,
    'bright-4': $color-bright-4,
    'bright-5': $color-bright-5,
    'bright-6': $color-bright-6,
    'grey-1': $color-grey-1,
    'grey-2': $color-grey-2,
    'grey-3': $color-grey-3
);





//размеры

$size-3xs: 0.5625rem; // 9
$size-2xs: 0.625rem; // 10
$size-xs: 0.6875rem; // 11
$size-sm: 0.75rem; // 12
$size-md: 0.875rem; // 14
$size-base: 1rem; // 16
$size-lg: 1.125rem; // 18
$size-xl: 1.25rem; // 20
$size-2xl: 2rem; // 32
$size-3xl: 2.25rem; // 36
$size-4xl: 2.5rem; // 40


$sizes: (
    '3xs': $size-3xs,
    '2xs': $size-2xs,
    'xs': $size-xs,
    'sm': $size-sm,
    'md': $size-md,
    'base': $size-base,
    'lg': $size-lg,
    'xl': $size-xl,
    '2xl': $size-2xl,
    '3xl': $size-3xl,
    '4xl': $size-4xl
);


@each $name, $size in $sizes {
    .mobile-#{$name} {
        font-size: $size;
    }
}


@include screen('desktop') {
    @each $name, $size in $sizes {
        .desktop-#{$name} {
            font-size: $size;
        }
    }
}

$font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;


@each $weight in $font-weights {
    .weight-#{$weight} {
        font-weight: $weight;
    }
}

$shadow: 0px 3px 4px rgba(75, 36, 7, 0.15);
$shadow-blue: 0px 2px 8.3px rgba(9, 42, 76, 0.35);
$shadow-orange: 0px 8px 12px rgba(255, 107, 0, 0.35);
$shadow-footer: inset 0px 1px 3.5px $color-bright-5;

$radius: 32px;
$radius-2: 16px;
$radius-3: 8px;


$max-width: 1440px;



@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}